.composition {
  background-color: $secondary-color;
  display: grid;
  margin: 0 auto;
  font-family: $font-family;
  max-width: $desktop-size;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-template-columns: 650px 690px;
  grid-template-rows: 301px 1fr;

  &__text-container {
    display: flex;
    flex-direction: column;
    margin: 50px 0 100px 50px;
  }
  &__heading {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
  }
  &__subheading {
    margin: 50px 0 100px 0;
    font-size: 64px;
    line-height: 64px;
    color: $primary-color-3;
    max-width: 403px;
    width: 100%;
  }
  &__span {
    font-weight: 700;
  }
  &__text {
    font-size: 18px;
    line-height: 28px;
    max-width: 400px;
    width: 100%;
    margin: 0 0 20px;
  }
  &__text:last-of-type {
    margin: 0;
  }
  &__enroll-button {
    display: flex;
    max-width: 228px;
    width: 100%;
    height: 49px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid $primary-color-3;
    border-radius: 9999px;
    color: $primary-color-3;
    background-color: $primary-color-2;
    margin-top: 198px;
  }
  &__enroll-button:hover {
    font-weight: 500;
  }
  &__image {
    max-width: 642px;
    max-height: 685px;
    margin: 50px 50px 0 0;
    width: 100%;
  }
  &__advices {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 54px 50px;
    max-width: 1332px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &__advice {
    max-width: 291px;
    width: 100%;
    padding: 0;
  }
  &__advice-text {
    color: $primary-color-3;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }
}

@media screen and(max-width: $desktop-size) {
  .composition {
    justify-content: center;
    flex-direction: column;
    grid-template-columns: minmax(688px, min-content);

    &__text-container {
      margin: 50px 0 0;
    }
    &__advices {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 688px;
      grid-column-start: 1;
      grid-column-end: 2;
      margin: 40px 0;
    }
    &__advice {
      max-width: 688px;
      width: 100%;
      padding: 0 0 30px 0;
      border-bottom: 1px solid $primary-color-3;
    }
    &__image {
      margin-bottom: 60px 0;
    }
    &__subheading {
      margin-bottom: 0;
    }
  }
}
@media screen and(max-width: $tablet-size) {
  .composition {
    max-width: 768px;
    flex-wrap: nowrap;
    grid-template-rows: 232px;
    grid-template-columns: minmax(692px, min-content);

    &__text-container {
      margin: 0 0 80px;
    }
    &__heading {
      margin-top: 40px;
    }
    &__subheading {
      margin: 40px 0 0;
    }
    &__enroll-button {
      margin-top: 60px;
    }
    &__enroll-button:hover {
      font-weight: 500;
    }
    &__advice {
      margin: 30px 0 0;
    }
    &__advice:nth-of-type(1) {
      margin-top: 0;
    }
    &__advice:last-of-type {
      padding-bottom: 40px;
      border-bottom: none;
    }
    &__image {
      max-width: 688px;
      margin: 60px 0;
      max-height: 685px;
      align-self: center;
    }
    &__advices {
      align-self: center;
      margin: 0;
    }
  }
}
@media screen and (max-width: 710px) {
  .composition {
    max-width: 320px;
    grid-template-columns: minmax(320px, min-content);
    grid-template-rows: 185px;
    justify-items: center;
    &__heading {
      font-size: 14px;
      line-height: 20px;
      margin-top: 0;
    }
    &__text-container {
      max-width: 280px;
      margin: 40px auto 0;
      padding-top: 20px;
      border-top: 1px solid $primary-color-3;
    }
    &__text-container:last-of-type {
      border-top: none;
      padding: 0;
      margin: 0 auto 80px;
    }
    &__subheading {
      font-size: 30px;
      line-height: 38px;
      margin-top: 30px;
    }
    &__text {
      max-width: 278px;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 36px;
    }
    &__enroll-button {
      margin-top: 30px;
      max-width: 169px;
      max-height: 40px;
    }
    &__image {
      max-width: 280px;
      max-height: 278px;
      margin-bottom: 60px;
    }
    &__advices {
      margin-bottom: 20px;
      max-width: 278px;
      width: 100%;
    }
    &__advice-text {
      font-size: 14px;
      line-height: 18px;
      max-width: 278px;
      width: 100%;
    }
    &__advice{
      padding-bottom: 14px;
      margin-top: 0;
      margin-top: 14px;
      max-width: 278px;
      width: 100%;
    }
    &__advice:last-of-type {
      padding-bottom: 0;
    }
    &__advice:nth-of-type(1) {
      margin-top: 0;
    }
  }
}
